graft src/xbmc
graft src/xbmcaddon
graft src/xbmcdrm
graft src/xbmcgui
graft src/xbmcplugin
graft src/xbmcvfs
include setup.py
include LICENSE.txt
include README.rst
global-exclude *.pyc *.pyo __pycache__
